.body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
ul {
  list-style-type: none;
  padding: 0;
}

.header {
  border-bottom: solid 1px #ececec;
}
.header-flex {
  display: flex;
  align-items: baseline;
}
.webstudio-link {
  font-family: "Raleway", sans-serif;
  color: #000000;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin: 24px 93px 25px 0;
}
.blue-web {
  color: #2196f3;
}

.nav-list {
  font-weight: 500;
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: space-evenly;
}
.nav-item {
  margin-right: 46px;
}
.nav-item:nth-child(3) {
  margin-right: 0;
}
.header-contact {
  display: flex;
}
.header-mail,
.header-tel {
  font-weight: 500;
  color: #757575;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-mail {
  margin-right: 50px;
}
.link {
  text-decoration: none;
}
.nav-agency,
.nav-portfolio,
.nav-contact {
  color: #212121;
}
.nav-contact {
  margin-right: 364px;
}
.nav-agency:visited,
.nav-portfolio:visited,
.nav-contact:visited {
  color: #212121;
}
.link:hover,
.link:focus {
  color: #2196f3;
}
.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.button {
  cursor: pointer;
}
.header-block {
  background-color: #2f303a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
  margin-bottom: 94px;
}
.main-header-text {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 200px 0 30px 0;
}
.header-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  padding: 10px 41px 10px 42px;
}
.assets-block {
  display: flex;
}
.assets {
  margin: 0 30px 94px 0;
}
.assets:nth-child(4) {
  margin-right: 0;
}
.asset {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.asset-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-header {
  font-size: 36px;
  line-height: 1.31;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}
.portfolio-gallery {
  display: flex;
  justify-content: space-between;
  margin: 0 0 94px;
}
.gallery {
  margin-right: 30px;
}
.gallery:nth-child(3) {
  margin-right: 0;
}
.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 50px;
}
.team-block {
  width: auto;
  background: #f5f4fa;
  padding: 94px 0;
}
.team-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.team-member {
  margin-right: 30px;
  background: #ffffff;
}
.team-member:nth-child(4) {
  margin-right: 0;
}
.member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
}
.member-job {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.footer {
  background: #2f303a;
}
.footer-block {
  padding: 60px 0;
}
.webstudio-link-footer {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address-list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 20px 0 0 0;
}
.address-list-item {
  margin-bottom: 9px;
}
.address-list-item:nth-child(3) {
  margin-bottom: 0;
}
.address-map-link {
  color: #ffffff;
}
.address-mail,
.address-tel {
  color: rgba(255, 255, 255, 0.6);
}
.p-buttons {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}
.p-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border: 0;
  margin-right: 8px;
  padding: 6px 22px;
}
.p-button:nth-child(5) {
  margin: 0;
}
.p-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.p-project-section {
  margin-bottom: 30px;
}
.p-project-section:nth-last-child(-n + 3) {
  margin-bottom: 94px;
}
.p-project-texts {
  border: 1px #eeeeee solid;
  border-top: 0;
}
.p-project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-left: 24px;
  margin-bottom: 4px;
}
.p-project-category {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 24px;
  margin-bottom: 20px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
